<style>
    .dot {
        height: 40px;
        width: fit-content;
        border-radius: 50%;
        text-align:center;
        display: inline-block;
        border-radius:0.1rem;
        padding:0.2rem;

    }
</style>
<div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="text-dark" href="/">Crpyto Updates</a></h5>
   
        
</div>
<div class="container nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-center">
      {% comment %} <a class="p-3 text-muted" href="#">Jobs</a>
      <a class="p-3 text-muted" href="#">Stories</a>
      <a class="p-3 text-muted" href="#">Polls</a> {% endcomment %}
    </nav>
  </div>
</div>